* {
  box-sizing: border-box;
}
nav ul{
  display: none !important;
}
.nav{
  justify-content: flex-start;
}
header{
  /* flex-direction: column-reverse; */
  flex-wrap: wrap-reverse;
}
.header img{
width: 90vw;
margin: 0 auto;
}

h1{
  font-size: initial !important;
}
#typing{
  font-size: initial;
}
.cards{
  flex-wrap: wrap;
  width: 100%;
}
.serveses .card{
  width: 90%;
}
.search-section{
  flex-direction: column-reverse;
}
.search-button{
  display: block;
  width: 75%;
  margin: 10px auto;
}
.case-stydies-grid-container{
  grid-template-columns: 100vw;
  margin: 10px auto;
}
.grid-item img{
  display: block;
  width: 90vw;
  margin: 10px auto;
}
.pricing-container, .teamwork-container{
  grid-template-columns: 100vw;
}
.pricing-container .card, .team-member{
  width: 90vw;
  margin: 10px auto;
}
.companies-container{
  width: 60vw;
  margin: 0 auto;
}
.testimonial-container{
  flex-wrap: wrap;
}
.info p:nth-child(2){
  margin-bottom: 100px;
}
.form form{
  grid-template-columns: 1fr;
   grid-template-areas: "name"  "email" "phone" "website" "message" "quote";
}